<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">

    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">

    <link rel="stylesheet" type="text/css" href="~/Contains/QLSP.css" />
    <link rel="stylesheet" type="text/css" href="~/contains/megaMenu.css" />

    <style>
        .dropbtn {
          color: white;
          border: none;
          cursor: pointer;
        }
        
        /* Dùng trong <div> để định vị nội dung thả xuống */
        .dropdown {
          position: relative;
          display: inline-block;
        }
        
        .dropdown-content {
          display: none;
          position: absolute;
          background-color: #e9d8f4;
          width: 180px;
          box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
          z-index: 1;
          border-radius:10px;
        }
        
        .dropdown-content a {
          color: black;
          padding: 8px 9px;
          text-decoration: none;
          display: block;
          font-size:13px;
        }
        
        .dropdown-content a:hover {
          color:black;
        }
        
        .dropdown:hover .dropdown-content {
          display: block;
        }
        
        .dropdown:hover .dropbtn {
          
        }


        /**/
        .img-thumbnail:hover {
        border:1px solid red;

        }
    </style>

@using QLSanPhamDienTu_WebApplication.Models;
@{
        KhachHang kh = (KhachHang)Session["TaiKhoan"];
    }

<div class="header">
            <div class="d-flex">
                <div style="width:8%;">

                </div>
                <div class="d-flex mt-3" style="width:84%;">
                    <div style="width:10%">
                        <img src="~/Images/logo.png" style="width:100px; margin-top:-11px"  />
                    </div>
                    <div style="width:12%">
                        @*<div class="d-flex">
                            <div>
                                <img src="https://salt.tikicdn.com/ts/upload/96/d1/77/e499ea39b0773a337d2217ad473fcb97.png" style="width:30px;" />
                            </div>
                            <div style="color: rgb(255, 255, 255); margin-top:-6px">
                                <span style="font-size:12px">Danh Mục</span><br />
                                <span style="font-size:13px; display:block; font-weight:normal; padding:0px">Sản Phẩm<img src="https://salt.tikicdn.com/ts/upload/d7/d4/a8/34939af2da1ceeeae9f95b7485784233.png" style="width:20px" /></span>
                            </div>
                        </div>*@
                       <div class="menu-wrapper">
                            <ul class="nav">
                                <li>
                                    <a href="#">
                                        <div class="d-flex">
                                            <div>
                                                <img src="https://salt.tikicdn.com/ts/upload/96/d1/77/e499ea39b0773a337d2217ad473fcb97.png" style="width:30px;" />
                                            </div>
                                            <div style="color: rgb(255, 255, 255);">
                                                <span style="font-size:12px">Danh Mục</span><br />
                                                <span style="font-size:13px; display:block; font-weight:normal; padding:0px">Sản Phẩm<img src="https://salt.tikicdn.com/ts/upload/d7/d4/a8/34939af2da1ceeeae9f95b7485784233.png" style="width:20px" /></span>
                                            </div>
                                        </div>
                                    </a>
                                    <div style="width:700px">
                                        <div class="d-flex">
                                            <div>
                                                <h5>Điện thoại</h5>
                                                <ul>
                                                    <li>
                                                        <a href="">Iphone</a>
                                                    </li>
                                                    <li>
                                                        <a href="">SAMSUNG</a>
                                                    </li>
                                                    <li>
                                                        <a href="">VIVO</a>
                                                    </li>
                                                    <li>
                                                        <a href="">Realme</a>
                                                    </li>
                                                    <li>
                                                        <a href="">Xiaomi</a>
                                                    </li>
                                                    <li>
                                                        <a href="">Oppo</a>
                                                    </li>
                                                </ul>
                                            </div>
                                            <div>

                                            </div>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div style="width:53%">
                        @using (Html.BeginForm("TimKiemSanPham", "TimKiem", FormMethod.Get))
                        {
                        <div class="input-group" style="width:100%">
                          <input  style="font-size:15px" type="text" id="timKiem" name="input" class="form-control" placeholder="Tìm kiếm sản phẩm, hay danh mục mong muốn....">
                          <div class="input-group-append">
                              <button   class="btn" style="font-size:14px; background-color:rgb(13, 92, 182);color:white; font-weight:500" type="submit"><img src="https://salt.tikicdn.com/ts/upload/ed/5e/b8/8538366274240326978318348ea8af7c.png" style="width:20px" /> Tìm kiếm</button>
                          </div>
                        </div>
                        }
                        <div style="margin-top:-9px; font-size:13px; margin-left:-20px;">
                            <nav class="navbar navbar-expand-sm navbar-light">
                              <ul class="navbar-nav">
                                <li class="nav-item">
                                  <a style="color: rgb(255, 255, 255);" class="nav-link" href="@Url.Action("loadSanPhamDienThoai", "SanPham")"><i style="font-size: 1.1em;" class="fas fa-mobile"></i> Điện thoại</a>
                                </li>
                                <li class="nav-item">
                                  <a style="color: rgb(255, 255, 255);" class="nav-link" href="@Url.Action("loadSanPhamLaptop","SanPham")"><i style="font-size: 1.1em;" class="fas fa-laptop"></i> Laptop</a>
                                </li>
                                <li class="nav-item">
                                  <a style="color: rgb(255, 255, 255);" class="nav-link" href="#"><i style="font-size: 1.3em;" class="fab fa-apple"></i> Apple</a>
                                </li>
                                <li class="nav-item">
                                  <a style="color: rgb(255, 255, 255);" class="nav-link" href="#"><i style="font-size: 1.1em;" class="fas fa-headphones-alt"></i> Phụ kiện</a>
                                </li>
                                <li class="nav-item">
                                  <a style="color: rgb(255, 255, 255);" class="nav-link" href="#"><i style="font-size: 1.1em;" class="far fa-file-alt"></i> Tin tức</a>
                                </li>
                                <li class="nav-item">
                                  <a style="color: rgb(255, 255, 255);" class="nav-link" href="@Url.Action("LienHe","lienHe")"><i style="font-size: 1.1em;" class="fas fa-phone"></i> Liên hệ</a>
                                </li>

                              </ul>
                            </nav>
                        </div>
                    </div>
                    <div class="dropdown" style="width:15%">
                        @if(Session["TaiKhoan"] == null){
                        <a style="text-decoration:none" href="@Url.Action("dangNhap","NguoiDung")">
                            <div class="dropbtn">
                            <div class="d-flex ml-2">
                            <div>
                                <img style="width: 32px;" src="https://salt.tikicdn.com/ts/upload/67/de/1e/90e54b0a7a59948dd910ba50954c702e.png" />
                            </div>
                            <div style="color: rgb(255, 255, 255); margin-top: -4px">
                                <span style="font-size: 10px">Đăng Nhập / Đăng Kí</span><br />
                                <span style="font-size: 13px; display: block;">Tài Khoản<img src="https://salt.tikicdn.com/ts/upload/d7/d4/a8/34939af2da1ceeeae9f95b7485784233.png" style="width: 20px" /></span>
                            </div>
                        </div>
                        </div>
                        </a>
                        }
                        else{
                         <div class="dropbtn">
                            <div class="d-flex ml-2">
                            <div>
                                <img style="width: 32px;" src="https://salt.tikicdn.com/ts/upload/67/de/1e/90e54b0a7a59948dd910ba50954c702e.png" />
                            </div>
                            <div style="color: rgb(255, 255, 255); margin-top: -4px">
                                <span style="font-size: 13px;">Tài Khoản</span><br />
                                @if(kh.tenKhachHang.Length >=16)
                                {
                                <span style="font-size: 10px;display: block;">@kh.tenKhachHang.Substring(0,12) ...<img src="https://salt.tikicdn.com/ts/upload/d7/d4/a8/34939af2da1ceeeae9f95b7485784233.png" style="width: 20px" /></span>
                                }else{
                                    <span style="font-size: 10px;display: block;">@kh.tenKhachHang<img src="https://salt.tikicdn.com/ts/upload/d7/d4/a8/34939af2da1ceeeae9f95b7485784233.png" style="width: 20px" /></span>
                                }
                            </div>
                        </div>
                        </div>   
                        <div class="dropdown-content" style="padding: -10px">
                            <div class="list-group">
                                <a href="@Url.Action("donHangCuaToi","NguoiDung")" class="list-group-item list-group-item-action">Đơn hàng của tôi</a>
                                <a href="@Url.Action("thongTinTaiKhoan","NguoiDung", new { @maKhachHang = kh.maKhachHang})" class="list-group-item list-group-item-action">Tài khoản của tôi</a>
                                <a href="@Url.Action("dangXuat","NguoiDung")" class="list-group-item list-group-item-action">Thoát tài khoản</a>
                            </div>
                        </div>
                        }
                    </div>
                    <div style="width:10%; float:right;color: rgb(255, 255, 255);" class="d-flex">
                        <div class="cart-wrapper">
                            <a href="@Url.Action("trangGioHang","GioHang")"><img id="imgGioHang" class="cart-icon" src="https://salt.tikicdn.com/ts/upload/40/44/6c/b80ad73e5e84aeb71c08e5d8d438eaa1.png" style="width:36px" />
                            </a>
                            <div style="width:20px;height:20px; margin-top:-38px; display:block; margin-left:25px;background-color:yellow; border-radius:15px">
                                <span style=" font-size:12px; text-align:center; margin-left:7px; color:black">@Html.Action("gioHangPartial","GioHang")</span>
                            </div>
                            
                        </div>
                        <div style="margin-top:18px">
                            <a href="@Url.Action("trangGioHang","GioHang")" class="cart-text" style="font-size:12px; margin-top:19px; color:white">Giỏ hàng</a>
                            
                        </div>
                    </div>
                </div>
                <div style="width:8%;">

                </div>
            </div>
        </div>
