@{
    ViewBag.Title = "trangGioHang";
    Layout = "~/Views/Shared/QLSPLayout.cshtml";
}
<header>
    <script type="text/javascript">
        function cong() {
            var t = document.getElementById("txtSL").value;
            document.getElementById("txtSL").value = parseInt(t) + 1;
        }

        function tru() {
            var t = document.getElementById("txtSL").value;
            if (parseInt(t) > 1) {
                document.getElementById("txtSL").value = parseInt(t) - 1;
            }
        }
    </script>
</header>

@using QLSanPhamDienTu_WebApplication.Models;
@model List<GioHang>
@{
    KhachHang kh = (KhachHang)Session["TaiKhoan"];
}
<br />
@if (Session["GioHang"] == null)
{
    <div class="card-body">
        <center>
            <img style="width:200px" src="https://salt.tikicdn.com/desktop/img/mascot@2x.png" />
            <p>Không có sản phẩm nào trong giỏ hàng của bạn</p>
            <button type="button" class="btn btn-outline-primary">Tiếp tục mua sản phẩm</button>
        </center>
    </div>
}
else
{
<div class="card bordered-dark">
    <div class="card-header d-flex">
        <div style="width:70%">
            <h6 style="font-weight:bold">Có @ViewBag.TongSoLuong sản phẩm trong giỏ hàng của bạn</h6>
        </div>
        <div style="width:30%">
            @if (Session["TaiKhoan"] != null)
            {
                <input id="btnHoanTatDH" type="button" class="form-control" value="Tiến hành đặt hàng" data-toggle="modal" data-target=".bs-example-modal-lg">
                <div class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="my">
                    <div class="modal-dialog modal-lg" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title">Điền thông tin để tiến hành đặt hàng</h5>
                                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times</span></button>
                            </div>
                            <div class="modal-body">
                                <div class="card">
                                    <div class="card-body">
                                        @Html.Action("datHang", "GioHang", new { @maKhachHang = kh.maKhachHang })
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            }
            else
            {
                <a href="@Url.Action("dangNhap", "NguoiDung")" style="text-decoration:none"><input id="btnDangNhap" type="button" class="form-control" value="Tiến hành đăng nhập để đặt hàng"></a>
            }
        </div>
    </div>

    @{ foreach (var item in Model)
        {
            using (@Html.BeginForm("capNhatGioHang", "GioHang", new { @maSP = item.maSanPham }))
            {
                <div class="card-body">
                    <div class="d-flex">
                        <div style="width:15%">
                            <img style="width:100%; height:140px" src="@item.hinhAnh" />
                        </div>
                        <div style="width:45%">
                            <span>@item.tenSanPham</span>
                        </div>
                        <div style="width:20%">
                            <div class="input-group">
                                <div class="input-group-prepend">
                                        <input type="submit" value="Cập nhật"  style="width:60px;font-size:10px; font-weight:500" name="tru" class="" />
                                    </div>
                                <input type="number" min="1" class="" value="@item.soLuong" style="width:55px;text-align:center; text-decoration:none;" id="txtSL" name="txtSoLuong" />
                            </div>
                            <a href="@Url.Action("xoaSanPhamTrongGioHang_1Sp", "GioHang", new { @maSP = item.maSanPham })" style="font-size:10px; font-weight:500"><i class="fas fa delete"></i>Xóa</a>
                        </div>
                        <div style="width:20%">
                            <span class="text-danger h4" style="">@string.Format("{0:0,0}", (@item.ThanhTien))<span style="text-decoration-line:underline">đ</span></span><br />
                            @if (item.ThanhTienGiamGia > 0)
                            {
                            <del><span class="text-dark " style="font-size:16px;">@string.Format("{0:0,0}", @item.ThanhTienGiamGia)<span style="text-decoration-line:underline">đ</span></span></del>
                            }

                        </div>
                        
                    </div>

                </div>
                }
            }
        }
            <div class="card-footer">
                <div class="row">
                    <div class="col-7">

                    </div>
                    <div class="col-5">
                        <span style="font-size:18px; font-weight:500">Tổng tiền thanh toán: <span style="color:red; margin-left:10px; font-size:17px">@string.Format("{0:0,0}", @ViewBag.TongThanhTien)<span style="text-decoration-line:underline">đ</span></span></span>
                    </div>
                </div>
            </div>
        </div>
}
