@{
    ViewBag.Title = "TimKiemSanPham";
    Layout = "~/Views/Shared/QLSPLayout.cshtml";
}
@using QLSanPhamDienTu_WebApplication.Models;
@model List<NewSanPham>

<style type="text/css">
    #hover:hover {
        /*transform: scale(1.1);*/
        transform: scale(1.1);
        transition: all 0.2s;
    }

    #text {
        position: absolute;
        top: 195px;
    }

    #img-hover img:hover {
        transform: scale(1.1);
        transition: all 0.4s;
    }
</style>
<body class="bg-light">
    <div class="card mt-2">
        <div class="card-header" style="font-size:20px; font-weight:bold">Danh sách sản phẩm tìm kiếm<span style="font-size:13px; font-weight:500">  (@ViewBag.TongSPLaptop sản phẩm)</span></div>
        <div class="card-body">
            <div class="row ml-0 bg-light card-body" style=" border-radius:3px">
                @foreach (var item in Model)
                {

                    if (item.GhiChu == "DienThoai")
                    {
                        <div id="hover" class="col-3 card" style="border:none; border-bottom:1px solid gray">
                            @if (item.GiamGia != 0)
                            {
                                <div id="text" style="background-color:red; border-radius:15px; width:110px">
                                    <center><span style="font-size:11px;color:white; text-align:center">Giảm @string.Format("{0:0,0}", item.GiamGia)đ</span></center>
                                </div>
                            }
                            <img class="card-img-top" src="@item.HinhMinhHoa" style="height:220px; width:100%" />
                            <div class="card" style="border:none; margin-top:5px">
                                <h5 class="card-text text-dark" style="font-size:15px; font-weight:bold">@item.TenSanPham</h5>
                                <div class="d-flex" style="margin-top:-5px;">
                                    <div style="width:65%">
                                        <span class="text-danger" style="">@string.Format("{0:0,0}", (item.DonGia - item.GiamGia))<span style="text-decoration-line:underline">đ</span></span>
                                    </div>
                                    <div style="width:35%">
                                        <del><span class="text-dark" style="font-size:9px">@string.Format("{0:0,0}", item.DonGia)<span style="text-decoration-line:underline">đ</span></span></del>
                                    </div>
                                </div>
                                @{
                                    string[] mota = item.MoTa.Split('|');
                                    <div class="d-flex" style="margin-top:2px">
                                        <div style="width:42%">
                                            <p class="text-dark" data-toggle="tooltip" data-placement="top" title="CPU" style="font-size:13px"><i class="fas fa-th"></i>  @mota[3].ToString().Trim().Substring(0, 7) ...</p>
                                        </div>
                                        <div style="width:28%">
                                            @if (mota[0].ToString().Trim().Length == 4)
                                            {
                                                <p class="text-dark" data-toggle="tooltip" data-placement="top" title="Màn hình" style="font-size:13px;"><i class="fas fa-mobile-alt fas-large" style="width:19px"></i> <span style="margin-left:-8px">@mota[0].ToString().Trim()</span></p>
                                            }
                                            else
                                            {
                                                <p class="text-dark" data-toggle="tooltip" data-placement="top" title="Màn hình" style="font-size:13px"><i class="fas fa-mobile-alt fas-large" style="width:19px"></i> <span style="margin-left:-8px">@mota[0].ToString().Substring(0, 4).Trim()</span></p>
                                            }
                                        </div>
                                        <div style="width:30%">
                                            <p class="text-dark" data-toggle="tooltip" data-placement="top" title="RAM" style="font-size:13px"><i class="fa fa-microchip"></i>  @mota[4].ToString().Trim()</p>
                                        </div>
                                    </div>
                                    <p class="text-dark" data-toggle="tooltip" data-placement="top" title="Bộ nhớ trong" style="font-size:14px;margin-top:-15px"><i class="fa fa-hdd"></i>  @mota[5].ToString().Trim()</p>
                                    <a href="@Url.Action("chiTietSanPhamDienThoai", "SanPham", new {@maSP = item.MaSanPham })" style="margin-top:-10px">Xem chi tiết...</a>
                                    <br />
                                }
                            </div>
                        </div>
                    }
                    if (item.GhiChu == "Laptop")
                    {
                        <div id="hover" class="col-3 card" style="border:none; border-bottom:1px solid gray">
                            @if (item.GiamGia != 0)
                            {
                                <div id="text" style="background-color:red; border-radius:15px; width:110px">
                                    <center><span style="font-size:11px;color:white; text-align:center">Giảm @string.Format("{0:0,0}", item.GiamGia)đ</span></center>
                                </div>
                            }
                            <img class="card-img-top" src="@item.HinhMinhHoa" style="height:220px; width:100%" />
                            <div class="card" style="border:none; margin-top:5px">
                                <h5 class="card-text text-dark" style="font-size:15px; font-weight:bold">@item.TenSanPham</h5>
                                <div class="d-flex" style="margin-top:0px;">
                                    <div style="width:65%">
                                        <span class="text-danger" style="">@string.Format("{0:0,0}", (item.DonGia - item.GiamGia))<span style="text-decoration-line:underline">đ</span></span>
                                    </div>
                                    <div style="width:35%">
                                        @if (item.GiamGia > 0)
                                        {
                                            <del><span class="text-dark" style="font-size:9px">@string.Format("{0:0,0}", item.DonGia)<span style="text-decoration-line:underline">đ</span></span></del>
                                        }
                                    </div>
                                </div>
                                @{
                                    string[] mota = item.MoTa.Split('|');
                                    <div class="d-flex" style="margin-top:2px">
                                        <div style="width:33%">
                                            @if (mota[0].Contains(','))
                                            {
                                                string[] arr = @mota[0].Trim().Split(',');
                                                <p class="text-dark" style="font-size:13px;"><i class="fas fa-laptop-code" style="width:19px"></i> <span style="">@arr[0].ToString().Trim()</span></p>
                                            }
                                            else
                                            {
                                                if (mota[0].ToString().Trim().Length <= 5)
                                                {
                                                    <p class="text-dark" style="font-size:13px;"><i class="fas fa-laptop-code" style="width:19px"></i> <span style="margin-left:-8px">@mota[0].ToString().Trim()</span></p>
                                                }
                                                else
                                                {
                                                    <p class="text-dark" style="font-size:13px"><i class="fas fa-laptop-code" style="width:19px"></i> <span style="margin-left:-8px">@mota[0].ToString().Substring(0, 5).Trim()</span></p>
                                                }
                                            }
                                        </div>
                                        <div style="width:33%">
                                            @if (mota[1].Trim().Length > 13)
                                            {
                                                string b = mota[1].Trim().Substring(5, 8);
                                                <p class="text-dark" style="font-size:13px"><i class="fas fa-server"></i>  @b.Trim().Substring(0, 7)</p>
                                            }
                                            else
                                            {
                                                <p class="text-dark" style="font-size:13px"><i class="fas fa-server"></i>  @mota[1].ToString().Trim().Substring(0, 6)</p>
                                            }

                                        </div>
                                        <div style="width:34%">
                                            @if (mota[2].Trim().Contains(','))
                                            {
                                                string[] moTa2 = @mota[2].Split(',');
                                                <p class="text-dark" style="font-size:13px"><i class="fa fa-microchip"></i>  @moTa2[0].ToString().Trim()</p>
                                            }
                                            else
                                            {
                                                <p class="text-dark" style="font-size:13px"><i class="fa fa-microchip"></i>  @mota[2].ToString().Trim().Substring(0, 4)</p>
                                            }
                                        </div>
                                    </div>
                                    <p class="text-dark" style="font-size:14px;margin-top:-15px"><i class="fa fa-hdd"></i>  @mota[3].ToString().Trim()</p>
                                    <p class="text-dark" style="font-size:14px;margin-top:-15px"><i class="fas fa-star-of-david"></i>  @mota[4].ToString().Trim()</p>
                                    <a href="@Url.Action("chiTietSanPhamLaptop", "SanPham", new { @maSP = item.MaSanPham })" style="margin-top:-10px">Xem chi tiết...</a>
                                    <br />
                                }
                            </div>
                        </div>
                    }
                    if (item.GhiChu == "PhuKien")
                    {
                        <div id="hover" class="col-3 card" style="border:none; border-bottom:1px solid gray">
                            @if (item.GiamGia != 0)
                            {
                                <div id="text" style="background-color:red; border-radius:15px; width:110px">
                                    <center><span style="font-size:11px;color:white; text-align:center">Giảm @string.Format("{0:0,0}", item.GiamGia)đ</span></center>
                                </div>
                            }
                            <img class="card-img-top" src="@item.HinhMinhHoa" style="height:220px; width:100%" />
                            <div class="card" style="border:none; margin-top:5px">
                                <h5 class="card-text text-dark" style="font-size:15px; font-weight:bold">@item.TenSanPham</h5>
                                <div class="d-flex" style="margin-top:0px;">
                                    <div style="width:65%">
                                        <span class="text-danger" style="">@string.Format("{0:0,0}", (item.DonGia - item.GiamGia))<span style="text-decoration-line:underline">đ</span></span>
                                    </div>
                                    <div style="width:35%">
                                        @if (item.GiamGia > 0)
                                        {
                                            <del><span class="text-dark" style="font-size:9px">@string.Format("{0:0,0}", item.DonGia)<span style="text-decoration-line:underline">đ</span></span></del>
                                        }
                                    </div>
                                </div>
                                <a href="@Url.Action("chiTietSanPhamPhuKien", "SanPham", new { @maSP = item.MaSanPham })" style="margin-top:5px">Xem chi tiết...</a>
                                <br />
                            </div>
                        </div>
                    }
                }
            </div>
        </div>
    </div>
</body>

